* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body.dark {
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    color: white;
    background-color: #000000;
}

body.light {
    background-color: white;
    color: black;
}

nav>img {
    width: 60px;
    margin-right: 9px;
}

nav {   
    display: flex;
    align-items: center;
    padding: 30px 25px;
    height: 90px;
}

nav.dark {
    background: rgb(47, 46, 46);
}

nav.light {
    background: rgb(217, 217, 217);
}

.react-course,
.react-facts {
    padding: 10px;
}

.react-facts {
    color: #61DAFB;
    font-weight: 700;
}

.react-course.dark {
    color: #DEEBF8;
    font-weight: 600;
    position: absolute;
    right: 0px;
}

.react-course.light{
    color: black;
}

.main.light {
    margin-top: 50px;
    margin-left: 50px;
    background-image: url(../public/logo512.png);
    background-repeat: no-repeat;
    background-position: right 75%;
}

.main.dark {
    margin-top: 50px;
    margin-left: 50px;
    background-image: url(./images/logo-half.png);
    background-repeat: no-repeat;
    background-position: right 75%;
}

ul>li {
    padding: 10px;
}

ul>li::marker {
    font-size: 1.4rem;
    color: #61DAFB;
}

.modes {
    color: #61DAFB;
    padding: 10px;
}


/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #61DAFB;
}

input:focus+.slider {
    box-shadow: 0 0 1px #61DAFB;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.dark {
    color: white;
}

.light {
    color: black;
} 