* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    text-align: center;
}

.container h1 {
    margin-bottom: 1em;
}

body {
    font-size: 1.3rem;
}

body.dark {
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    color: white;
    background-color: #000000;
}

body.light {
    background-color: white;
    color: black;
}

.nav-title,
.nav-mode-switch {
    display: flex;
    text-shadow: 0 0 3px black;
}

nav img {
    width: 3.75em;
    margin-right: 0.5625em;
}

nav {   
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1.875em 1.5625em;
    height: 5.625em;
}

nav.dark {
    background: rgb(47, 46, 46);
}

nav.light {
    background: rgb(217, 217, 217);
}

.react-course,
.react-facts {
    padding: 0.625em;
}

.react-facts {
    color: #61DAFB;
    font-weight: 700;
}

.react-course.dark {
    color: #DEEBF8;
    font-weight: 600;
    position: absolute;
    right: 0;
}

.react-course.light{
    color: black;
}

.main.light,
.main.dark {
    margin-top: 3.125em;
    margin-left: 3.125em;
    background-repeat: no-repeat;
    background-position: right 75%;
}

.main.light {
    background-image: url(../public/logo512.png);
}

.main.dark {
    background-image: url(./images/logo-half.png);
}

li {
    list-style: none;
}

.modes {
    color: #61DAFB;
    padding: 0.625em;
}


/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 3.75em;
    height: 2.125em;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 1.625em;
    width: 1.625em;
    left: 0.25em;
    bottom: 0.25em;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #61DAFB;
}

input:focus+.slider {
    box-shadow: 0 0 1px #61DAFB;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.dark {
    color: white;
}

.light {
    color: black;
} 

@media (max-width: 700px) {
    nav,
    nav.light,
    nav.dark {
        flex-direction: column;
        height: 11.25em;
    }

    body {
        font-size: 1rem;
    }
}